.gallery {
    position: relative;
}

.gallery_title_wrapper {
    position: absolute;
    top: 67px;
    width: 100%;
    z-index: 1;
}


.gallery_title {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    color: #FFFFFF;
}

.gallery_slides {
    height: 717px;
    position: relative;
}

.gallery_slide {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.gallery_slide_active {
    opacity: 1;
}

.gallery_box {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.gallery_text{
    position: absolute;
    bottom: 60px;
    width: 443px;
    z-index: 1;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}

.gallery_controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 165.33px;
    width: 74px;
    gap: 14px;
}

.gallery_controls_next,
.gallery_controls_prev {
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-position: left;
    width: 40px;
    height: 40px;
    z-index: 1;
}

.gallery_controls_prev {
    background-image: url(../resourses/btn_prev.png);
}

.gallery_controls_next {
    background-image: url(../resourses/btn_prev.png);
    transform: rotate(180deg);
}

.gallery_controls_prev:hover,
.gallery_controls_next:hover {
    opacity: 0.6;
}


.gallery_slide_landscape {
    background-image: url(../resourses/backdrop.png);
}

.gallery_slide_lighthouse {
    background-image: url(../resourses/gallery2.png);
}

.gallery_slide_privatehouse {
    background-image: url(../resourses/gallery3.png);
}

.gallery_slide_northwind {
    background-image: url(../resourses/gallery4.png);
}

.gallery_btn_prev {
    background-image: url(../resourses/btn_prev.png);
}

@media (max-width: 1199px) {
    .gallery_title_wrapper {
        top: 80px;
    }
    .gallery_controls {
        bottom: 155.33px;
    }
    .gallery_slides {
        height: 536px;
    }
    .gallery_text{
        width: 377px;
        font-size: 25px;
        line-height: 34px;
    }
}

@media (max-width: 767px) {
    .gallery_title_wrapper {
        top: 61px;
    }
    .gallery_controls {
        justify-content: space-between;
        width: calc(100% - 25px);
        bottom: calc(50% - 16px);
        padding-right: 12.5px;
    }
    .gallery_slides {
        height: 438px;
    }
    .gallery_text{
        width: 287px;
        font-size: 19px;
        line-height: 26px;
    }
}